.App {
  height: 100vh;
  color: white;
}

.full-width {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

summary {
  list-style-type: none;
}

.image-parent {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.centered-image {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  max-height: 100%; /* Ensure the image doesn't exceed its container */
}

.dropdown-menu {
  --bs-dropdown-bg: #171122 !important;
  --bs-dropdown-divider-bg: #2f2348 !important;
  --bs-dropdown-link-color: white !important;
  --bs-dropdown-link-hover-color: white !important;
  --bs-dropdown-link-hover-bg: #2f2348 !important;
}

.test-input {
  background-color: #171122;
  color: lightgray;
  border-color: rgba(255, 255, 255, 0.1);
  padding: 0.2rem 0.7rem;
}

.test-input:focus, select:focus, textarea:focus, button:focus {
  outline: 1px solid #6d2bf2;
}

.custom-navbar {
  height: 74px;
  background-color: #171122; /* Dark background color */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* White border line */
}

.custom-footer {
  height: 74px;
  //background-color: #171122; /* Dark background color */
  border-top: 1px solid rgba(255, 255, 255, 0.1); /* White border line */
}

.btn-primary {
  border-color: #2f2348 !important;
  background-color: #2f2348 !important;
}

.btn-primary:hover {
  background-color: #8540f5 !important;
  border-color: #8540f5 !important;
}

.btn-task {
  color: white !important;
  border-color: #2f2348 !important;
  background-color: transparent !important;
}

.btn-task:hover {
  background-color: #2f2348 !important;
  border-color: #2f2348 !important;
}

.btn-sign-in {
  background-color: #6d2bf2 !important;
  border-color: #6d2bf2 !important;
  color: white !important;
  height: 50px;
  border-radius: 4px !important;
}

.btn-sign-in:hover {
  background-color: #8540f5 !important;
  border-color: #8540f5 !important;
}

.btn-contact {
  background-color: #2f2348 !important;
  border-color: #2f2348 !important;
  color: white !important;
  height: 50px;
  border-radius: 4px !important;
}

.btn-contact:hover {
  background-color: #8540f5 !important;
  border-color: #8540f5 !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.footer-a {
  color: white;
}

.footer-a:hover {
  color: #8540f5;
}

#List::before {
  border-style: none !important;
}


[data-mantine-color-scheme=dark] .m-89d60db1[data-variant=default]:hover {
  --_tab-hover-color: #2f2348;
}

.modal-color {
  background-color: #2f2348 !important;
  color: white;
}

.modal-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.modal-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

::placeholder {
  color: dimgray !important;
}


.homepage-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.image-overlay-container {
  position: relative;
  overflow: hidden;
}


.overlay-content h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.overlay-content p {
  font-size: 18px;
  margin-bottom: 20px;
}


.card {
  background-color: #2f2348 !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  border-radius: 10px !important;
  color: white !important;
}

.task-icon {
  padding: 20px;
  background-color: #2f2348;
  border-radius: 18px;
}


.custom-switch {
  width: 100%;
  height: 30px;
  background: #2f2348;
  position: relative;
  border-radius: 15px;
  border: 1px solid #6d2bf2;
  cursor: pointer;
}

.switch-slider {
  position: absolute;
  width: 50%;
  height: 100%;
  background: #6d2bf2;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.custom-switch.checked .switch-slider {
  transform: translateX(100%);
}

.switch-text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  pointer-events: none;
}

.switch-text .monthly,
.switch-text .annually {
  transition: color 0.3s ease;
}
