.App {
  height: 100vh;
  color: white;
}

.full-width {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

summary {
  list-style-type: none;
}

.image-parent {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.centered-image {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  max-height: 100%; /* Ensure the image doesn't exceed its container */
}

.dropdown-menu {
  --bs-dropdown-bg: #171122 !important;
  --bs-dropdown-divider-bg: #2f2348 !important;
  --bs-dropdown-link-color: white !important;
  --bs-dropdown-link-hover-color: white !important;
  --bs-dropdown-link-hover-bg: #2f2348 !important;
}

.test-input {
  background-color: #171122;
  color: lightgray;
  //border-color: #2f2348;
  border: 1px solid #2f2348;
  padding: 0.2rem 0.7rem;
}

.test-input:focus, select:focus, textarea:focus, button:focus {
  outline: 1px solid #6d2bf2;
}

.custom-navbar {
  height: 74px;
  background-color: #171122; /* Dark background color */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* White border line */
}

.custom-footer {
  height: 74px;
  //background-color: #171122; /* Dark background color */
  border-top: 1px solid rgba(255, 255, 255, 0.1); /* White border line */
}

.btn-primary {
  border-color: #2f2348 !important;
  background-color: #2f2348 !important;
}

.btn-primary:hover {
  background-color: #8540f5 !important;
  border-color: #8540f5 !important;
}

.btn-task {
  color: white !important;
  border-color: #2f2348 !important;
  background-color: transparent !important;
}

.btn-accordion {
  color: white !important;
  border-color: #2f2348 !important;
  background-color: transparent !important;
}

.accordion-button {
  color: white !important;
  //border-color: #2f2348 !important;
  background-color: transparent !important;
}

.accordion {
  --bs-accordion-border-color: #2f2348 !important;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.05rem #8540f5 !important;
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23FFFFFF%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e") !important;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23FFFFFF%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e") !important;
}

.btn-task:hover {
  background-color: #2f2348 !important;
  border-color: #2f2348 !important;
}

.btn-sign-in {
  background-color: #6d2bf2 !important;
  border-color: #6d2bf2 !important;
  color: white !important;
  height: 50px;
  border-radius: 4px !important;
}

.btn-sign-in:hover {
  background-color: #8540f5 !important;
  border-color: #8540f5 !important;
}

.btn-contact {
  background-color: #2f2348 !important;
  border-color: #2f2348 !important;
  color: white !important;
  height: 50px;
  border-radius: 4px !important;
}

.ul-window {
  padding-left: 32px;
}

.large-window {
  padding: 1rem 3rem;
}

.big-test-input {
  width: 80%;
  margin-left: 10%;
  padding: 8px;
  font-size: 18px;
  border-radius: 4px;
}

@media (max-width: 767px) {
  .large-window {
    padding: 0.5rem 0.3rem;
  }
  .ul-window {
    padding-left: 16px;
  }
  .test-input {
    width: 180px;
  }
  .footer-window {
    padding: 0.3rem 2rem;
  }
  .big-test-input {
    width: 100%;
    margin-left: 0;
    padding: 8px;
    font-size: 18px;
    border-radius: 4px;
  }

}

.btn-contact:hover {
  background-color: #8540f5 !important;
  border-color: #8540f5 !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.footer-a {
  color: white;
}

.footer-a:hover {
  color: #8540f5;
}

#List::before {
  border-style: none !important;
}


[data-mantine-color-scheme=dark] .m-89d60db1[data-variant=default]:hover {
  --_tab-hover-color: #2f2348;
}

.modal-color {
  background-color: #2f2348 !important;
  color: white;
}

.modal-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.modal-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

::placeholder {
  color: dimgray !important;
}


.homepage-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.image-overlay-container {
  position: relative;
  overflow: hidden;
}


.overlay-content h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.overlay-content p {
  font-size: 18px;
  margin-bottom: 20px;
}


.card {
  //background-color: #2f2348 ;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  border-radius: 10px !important;
  color: white !important;
}

.task-icon {
  padding: 20px;
  background-color: #2f2348;
  border-radius: 18px;
}


.custom-switch {
  width: 100%;
  height: 30px;
  background: #2f2348;
  position: relative;
  border-radius: 15px;
  border: 1px solid #6d2bf2;
  cursor: pointer;
}

.switch-slider {
  position: absolute;
  width: 50%;
  height: 100%;
  background: #6d2bf2;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.custom-switch.checked .switch-slider {
  transform: translateX(100%);
}

.switch-text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  pointer-events: none;
}

.switch-text .monthly,
.switch-text .annually {
  transition: color 0.3s ease;
}

.error-message {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  color: lightgray;
  font-size: 14px;
}

.bordered-text {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 4px;
  background-color: #2f2348;
}

.protest-strike-regular {
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px
}

.progress-bar {
  background-color: #6d2bf2 !important;
}

.progress {
  --bs-progress-bg: #2f2348 !important;
}

.m-b1ca1fbf {
  --rp-curve-root-color: #2f2348 !important;
}